* {
  padding: 0;
  margin: 0;
}
body {
  background: #1f2023;
  color: rgb(234, 255, 106);
}
.encabezado {
  display: flex;
  flex-direction: row;
  
}
.container {
  padding: 0;
  margin: 0;
}
.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70px;
  margin: 10px;
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.Carrito {
  width: 70px;
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin: 25px;
}
.logoCarrito {
  display: flex;
  flex-direction: row;
}
#cantidadCarrito {
  display: flex;
  font-size: 30px;
  margin: 40px;
}
.dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dropdown-menu {
  background: #1f2023;
}
.dropdown-item {
  color: rgb(234, 255, 106);
  border: 2px solid rgb(234, 255, 106);
}
.titulo {
  display: inline;
  text-align: center;
}
.contenedorIndex {
  width: 100%;
  height: 500px;
}
.presentacion {
  text-align: center;
  font-size: 35px;
  margin: auto;
  padding: 50px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.modal-content {
  background: #1f2023;
}
.btn-primary {
  background: rgb(234, 255, 106);
  color: #1f2023;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.btn-secondary {
  background: rgb(227, 53, 53);
  color: #1f2023;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.form-control {
  border: 2px solid rgb(234, 255, 106);
  background: #1f2023;
}
.card {
  border: 2px solid rgb(234, 255, 106);
  background: #1f2023;
  justify-items: center;
  color: rgb(234, 255, 106);
  text-align: center;
  margin: auto;
}
.btn {
  background: rgb(234, 255, 106);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@keyframes logo {
  0% {
    filter: drop-shadow(5px 5px 30px rgb(234, 255, 106));
  }
  25% {
    filter: drop-shadow(5px 5px 30px #1f2023);
  }
  50% {
    filter: drop-shadow(5px 5px 30px rgb(234, 255, 106));
  }
  75% {
    filter: drop-shadow(5px 5px 30px #1f2023);
  }
  100% {
    filter: drop-shadow(5px 5px 30px rgb(234, 255, 106));
  }
}
@media screen and (max-width: 992px) {
  .productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .productos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .productos {
    grid-template-columns: 1fr;
  }
}
#price {
  display: inline-block;
}
.price {
  display: inline-block;
}
#stock {
  display: inline-block;
}
.stock {
  display: inline-block;
}